<div id="menu-bar" class="navbar__menuBar d-sm-none">
	<div class="navbar__menuBar-close">
		<a id="menu-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
	</div>

	<div class="navbar__menuBar-links">
		<ul>
			<!--Links-->
			<li><a href="#" title="Iniciativa">Iniciativa</a></li>
			<li><a href="#" title="Přístav">Přístav</a></li>
			<li><a href="#" title="Podpora">Podpora</a></li>
			<li><a href="#" title="Projekty">Projekty</a></li>
			<!--! Links-->
		</ul>
	</div>
</div>