<div class="navbar container wrapper">
	<div class="row align-items-center justify-content-between">
		<div class="col">
			<a href="home.html" title="Czech Innovation Consulting"><img src="../images/logo.svg" alt="Czech Innovation Consulting" class="navbar__logo" width="150" height="74"></a>
		</div>
		<div class="col-auto">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="navbar__mainLinks">
						<!--Menu-->
						<a class="btn-link" href="#" title="Iniciativa">Iniciativa</a>
						<a class="btn-link" href="#" title="Přístav">Přístav</a>
						<a class="btn-link" href="#" title="Podpora">Podpora</a>
						<a class="btn-link" href="#" title="Projekty">Projekty</a>
						<!--! Menu-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
