<div class="block wrapper">
	<div class="container-fluid">
		<h2 class="text__align--center">Projekty ArtDocku</h2>

		<div class="row block-projects__container">
			<!--Items-->
			<a href="#" class="block-projects__item col-12 col-sm-6 col-md-4">
				<div class="block-projects__item-content">
					<div class="block-projects__item-text">eshop</div>
					<div class="block-projects__item-badge bg--solomon">připravujeme</div>
				</div>
				<div class="block-projects__item-img" style="background-image: url('../images/home/projects/rising-spirits.png');">
					<div class="bg--purpleGradient"><span class="btn-wave">detail projektu</span></div>
				</div>
			</a>
			<a href="#" class="block-projects__item col-12 col-sm-6 col-md-4">
				<div class="block-projects__item-content">
					<div class="block-projects__item-text">UKOLÉBAVKY</div>
					<div class="block-projects__item-badge bg--green">SPUŠTĚNO</div>
				</div>
				<div class="block-projects__item-img" style="background-image: url('../images/home/projects/ukolebavky.png');">
					<div class="bg--purpleGradient"><span class="btn-wave">detail projektu</span></div>
				</div>
			</a>
			<a href="#" class="block-projects__item col-12 col-sm-6 col-md-4">
				<div class="block-projects__item-content">
					<div class="block-projects__item-text">Rising Spirits</div>
					<div class="block-projects__item-badge bg--green">SPUŠTĚNO</div>
				</div>
				<div class="block-projects__item-img" style="background-image: url('../images/home/projects/rising-spirits.png');">
					<div class="bg--purpleGradient"><span class="btn-wave">detail projektu</span></div>
				</div>
			</a>
			<a href="#" class="block-projects__item col-12 col-sm-6 col-md-4">
				<div class="block-projects__item-content">
					<div class="block-projects__item-text">Oslavy sto let naší republiky</div>
					<div class="block-projects__item-badge bg--solomon">SPUŠTĚNO</div>
				</div>
				<div class="block-projects__item-img" style="background-image: url('../images/home/projects/oslavy.png');">
					<div class="bg--purpleGradient"><span class="btn-wave">detail projektu</span></div>
				</div>
			</a>
			<a href="#" class="block-projects__item col-12 col-sm-6 col-md-4">
				<div class="block-projects__item-content">
					<div class="block-projects__item-text">Hurvínek</div>
					<div class="block-projects__item-badge bg--solomon">připravujeme</div>
				</div>
				<div class="block-projects__item-img" style="background-image: url('../images/home/projects/hurvinek.png');">
					<div class="bg--purpleGradient"><span class="btn-wave">detail projektu</span></div>
				</div>
			</a>
			<a href="#" class="block-projects__item col-12 col-sm-6 col-md-4">
				<div class="block-projects__item-content">
					<div class="block-projects__item-text">Spolupráce na desce Tomáše Kluse</div>
					<div class="block-projects__item-badge bg--solomon">připravujeme</div>
				</div>
				<div class="block-projects__item-img" style="background-image: url('../images/home/projects/klus.png');">
					<div class="bg--purpleGradient"><span class="btn-wave">detail projektu</span></div>
				</div>
			</a>
			<!--! Items-->
		</div>
	</div>
</div>
