<div class="block text__align--center">
	<div class="wrapper">
		<div class="container">
			<div class="row text__align--center">
				<!--Items-->
				<div class="col-12 col-sm-6 col-md-3 block-quotes__item">
					<i class="icon-boat"></i>
					<h3>
						<span>
							Tvorba
							<svg preserveAspectRatio="xMinYMin" xml:space="preserve">
								<mask id="block-quote__mask--1">
									<rect height="1.5em" width="200" fill="#ffffff"></rect>
									<text x="0" y="1em" fill="#000000" font-size="1em">Tvorba</text>
								</mask>
								<rect mask="url(#block-quote__mask--1)" height="1.5em" width="200" fill="#ffffff"></rect>
							</svg>
						</span>
					</h3>

					<p>Nulla sit amet felis eget ex bibendum laoreet quis et eros. Nulla nec enim mauris. Pellentesque molestie consequat bibendum. Proin eget nisi vel enim tristique condimentum.</p>
					<a href="#" title="více o tvorbě" class="btn-wave btn-wave__color--purple">více o tvorbě</a>
				</div>
				<div class="col-12 col-sm-6 col-md-3 block-quotes__item">
					<i class="icon-talk"></i>
					<h3>
						<span>
							Podpora
							<svg preserveAspectRatio="xMinYMin" xml:space="preserve">
								<mask id="block-quote__mask--2">
									<rect height="1.5em" width="200" fill="#ffffff"></rect>
									<text x="0" y="1em" fill="#000000" font-size="1em">Podpora</text>
								</mask>
								<rect mask="url(#block-quote__mask--2)" height="1.5em" width="200" fill="#ffffff"></rect>
							</svg>
						</span>
					</h3>

					<p>Nulla sit amet felis eget ex bibendum laoreet quis et eros. Nulla nec enim mauris. Pellentesque molestie consequat bibendum. Proin eget nisi vel enim tristique condimentum.</p>
					<a href="#" title="více o tvorbě" class="btn-wave btn-wave__color--purple">více o tvorbě</a>
				</div>
				<div class="col-12 col-sm-6 col-md-3 block-quotes__item">
					<i class="icon-hands"></i>
					<h3>
						<span>
							Spolupráce
							<svg preserveAspectRatio="xMinYMin" xml:space="preserve">
								<mask id="block-quote__mask--3">
									<rect height="1.5em" width="200" fill="#ffffff"></rect>
									<text x="0" y="1em" fill="#000000" font-size="1em">Spolupráce</text>
								</mask>
								<rect mask="url(#block-quote__mask--3)" height="1.5em" width="200" fill="#ffffff"></rect>
							</svg>
						</span>
					</h3>

					<p>Nulla sit amet felis eget ex bibendum laoreet quis et eros. Nulla nec enim mauris. Pellentesque molestie consequat bibendum. Proin eget nisi vel enim tristique condimentum.</p>
					<a href="#" title="více o tvorbě" class="btn-wave btn-wave__color--purple">více o tvorbě</a>
				</div>
				<div class="col-12 col-sm-6 col-md-3 block-quotes__item">
					<i class="icon-envelope"></i>
					<h3>
						<span>
							Šíření
							<svg preserveAspectRatio="xMinYMin" xml:space="preserve">
								<mask id="block-quote__mask--4">
									<rect height="1.5em" width="200" fill="#ffffff"></rect>
									<text x="0" y="1em" fill="#000000" font-size="1em">Šíření</text>
								</mask>
								<rect mask="url(#block-quote__mask--4)" height="1.5em" width="200" fill="#ffffff"></rect>
							</svg>
						</span>
					</h3>

					<p>Nulla sit amet felis eget ex bibendum laoreet quis et eros. Nulla nec enim mauris. Pellentesque molestie consequat bibendum. Proin eget nisi vel enim tristique condimentum.</p>
					<a href="#" title="více o tvorbě" class="btn-wave btn-wave__color--purple">více o tvorbě</a>
				</div>
				<!--! Items-->
			</div>
		</div>
	</div>
</div>
