<footer class="text__color--white">
	<div class="wrapper">
		<div class="container">
			<div class="footer__menuCont row align-items-center justify-content-between">
				<div class="col-12 col-md">
					<a href="home.html" title="ArtDock"><img src="../images/logo-white.svg" width="106" height="52" alt="ArtDock"></a>
				</div>
				<div class="col-12 col-md-auto">
					<div class="footer__menu">
						<!--Menu-->
						<a class="btn-link" href="#" title="Iniciativa">Iniciativa</a>
						<a class="btn-link" href="#" title="Přístav">Přístav</a>
						<a class="btn-link" href="#" title="Podpora">Podpora</a>
						<a class="btn-link" href="#" title="Projekty">Projekty</a>
						<!--! Menu-->
					</div>
					<div class="footer__socials">
						<!--Socials-->
						<a class="btn-icon" href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
						<a class="btn-icon" href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
						<a class="btn-icon" href="#" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
						<!--! Socials-->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col text__size--small">
					<!--Text-->
					<p>
						©&nbsp;Copyright ArtDock 2018
						<br>
						Konzultace: <a href="tel:+420800774774">+420&nbsp;800&nbsp;774&nbsp;774</a> |
						<a href="mailto:info@artdock.cz">info@artdock.cz</a>
					</p>
					<!--! Text-->
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="../js/script.min.js"></script>

</body>
</html>
