<div class="banner-home">
	<div class="banner-home__container container-fluid text__align--center">
		<div class="banner-home__content text__color--white">
			<div class="banner-home__icon"></div>
			<p class="banner-home__text">
				Společný přístav pro společné vize a&nbsp;prostředky k&nbsp;jejich realizaci
			</p>
			<a class="btn" href="#" title="CO UMÍME ODSTARTOVAT">CO UMÍME ODSTARTOVAT</a>
		</div>
	</div>
</div>
